.container {
  min-height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://source.unsplash.com/collection/94083452/1920x1080);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 50%;
}
.title {
  font-weight: 500;
  font-size: 48px;
  text-align: center;
  text-shadow: 0px 0px 10px rgb(12, 187, 240);
}
