.form {
  display: flex;
  width: 300px;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
}

.label {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 50px;
  color: #e84a5f;
}

.btn:hover,
.btn:focus {
  color: black;
}

.MuiTextField-root {
  color: #e84a5f;
}
