.form {
  display: flex;
  min-width: 300px;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.btn {
  font-family: 'Exo 2', cursive !important;

  margin-top: 30px !important;
  color: white !important;
  background-color: #424040 !important;
}

.btn:hover,
.btn:focus {
  color: white !important;
  background-color: #e84a5f !important;
}
