.MuiChip-root.MuiChip-colorPrimary {
  color: whitesmoke;
  background-color: inherit;
}

.MuiChip-root.MuiChip-colorPrimary:hover,
.MuiChip-root.MuiChip-colorPrimary:focus {
  color: inherit;
  background-color: #e84a5f;
}
.menu {
  display: flex;
  align-items: center;
}

.badge {
  margin-right: 20px;
}
