.chip {
  color: whitesmoke !important;
  background-color: rgba(252, 184, 202, 0.151) !important;
  font-family: 'Exo 2', cursive !important;
}

.chip:hover,
.chip:focus {
  color: inherit !important;
  background-color: #e84a5f !important;
}
.menu {
  display: flex;
  align-items: center;
}

.icon {
  color: rgb(255, 255, 255) !important;
}

.styledMenu ul {
  padding: 0 !important;
  font-family: 'Exo 2', cursive !important ;
}
.btnLogOut {
  font-family: 'Exo 2', cursive !important ;
}
