.form {
  display: flex;
  min-width: 300px;
  height: auto;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.btnContainer {
  display: flex;
  justify-content: space-around;
}

.editInput {
  width: 100%;
  min-width: 100px;
}

.btn {
  margin-top: 20px !important;
  color: white !important;
  background-color: #424040 !important;
}

.btn:hover,
.btn:focus {
  color: white !important;
  background-color: #e84a5f !important;
}
