.navigation {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: whitesmoke;
}
.activeLink {
  color: #e84a5f;
}
