p,
span,
input,
li,
div,
label {
  font-family: 'Lemonada', cursive !important;
  color: aliceblue;
}

.th {
  padding: 0 15px;
  font-weight: 400;
  font-family: 'Lemonada', cursive !important;
  color: aliceblue;
  border-bottom: unset;
  font-weight: 700;
}

.th a {
  color: aliceblue;
  font-weight: 700;
}
.th a:focus {
  color: #f00827;
}

.btn span {
  color: #f3f6f7 !important;
}

.headCell {
  color: #ffffff;
  font-size: 100%;
  font-weight: 700;
  font-family: 'Lemonada', cursive !important;
  border-bottom: unset;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 0;
}
.sortHeadCell:focus,
.sortHeadCell:active {
  color: #e84a5f !important;
}
